.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    align-items: center;
    color: #3b3838;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
    width: 450px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 15px;
    grid-row-gap: 7px;
    align-items: start;
    justify-content: start;

    box-shadow: 1px 1px 5px #a09b9b;
    padding: 30px;
}


.field--normal {
    border: 1px solid transparent;
    border-color: #ccc;
}

.field--error {
    border: solid 1px red;
}

.field {
    padding: 7px;
    border-radius: 3px;
}

.spanned {
    grid-column: 1 / span 2;
    margin-left: auto;
    margin-right: auto;
}

.spanned button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    color: #868181;
}

button.primary {
    background-color: #5a83af;
    color: white;
}

.summary {
    width: 350px;
    border: solid 1px #d9d7d7;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #d9d7d7;
}



